<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FLIXTUBE world – Watch TV Shows Online, Watch Movies Online</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../lib/owl.carousel.css" />
    <script src="../lib/jquery 3.5.0.js"></script>
    <script src="../lib/owl.carousel.js"></script>

    <!--main script file-->
    <script src="../js/main-script.js"></script>


    <link rel="stylesheet" href="../mycss/global.css">
    <link rel="stylesheet" href="../mycss/browse.css">

    <style> 
        input[type=text] {
          width: 130px;
          box-sizing: border-box;
          border: 1px solid white;
          color: white;
          border-radius: 4px;
          font-size: 16px;
          background-color: rgb(14, 14, 14);
          background-position: 10px 10px; 
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
        }
        
        input[type=text]:focus {
          width: 100%;
        }
        </style>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


    <!-- dashboard/browse page block start | home page after login | -->

    <main id="mainContainer" class="p-b-40">
        <div>
            {{> header}}


            <!--paretn div with black bg after main hero section-->
            <div class="searchform d-flex flex-center flex-middle" style="padding-top: 150px;">
                <form>
                    <input type="text" name="search" placeholder="Search.." autocomplete="off">
                  </form>
            </div>
            <div class="searchresult">
                
            </div>
        </div>
        {{> footer}}
        </div>
    </main>
    {{> mobile_footer}}
</body>

</html>