
    <h4>Top Trending Movie </h4>
    <main>
        <div class="parent_1">

            <li>
            <div class="child_2" id="child_2_1">
                <a href=""><img onmouseover= bigImg(this) onmouseout= normalImg(this) src="https://guardian.ng/wp-content/uploads/2018/12/Venom-Photo-Venom.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_2">
                <a href= "/">
                <video id="vid" onmouseover= playVideo() onmouseout= pauseVideo()  poster="https://upload.wikimedia.org/wikipedia/commons/c/c5/Big_buck_bunny_poster_big.jpg">
                  <source src="" type="video/mp4">
                </video>
                </a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_3">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://lumiere-a.akamaihd.net/v1/images/p_avatar_thewayofwater_97_v3_4cb5b11f.png" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_4">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/fb/Dhadak_2018_film.jpg/220px-Dhadak_2018_film.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_5">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://img1.hotstarext.com/image/upload/f_auto,t_vl/sources/r1/cms/prod/4622/1114622-v-6aa53dbe426f" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_6">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://upload.wikimedia.org/wikipedia/en/7/7f/Jism_2_poster.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_7">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://akamaividz2.zee5.com/image/upload/w_1170,h_658,c_scale,f_webp,q_auto:eco/resources/0-0-8360/list/008360list500824915.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_8">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://img1.hotstarext.com/image/upload/f_auto,t_vl/sources/r1/cms/prod/1714/1121714-v-fd6318f27562" ></a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_9">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://m.media-amazon.com/images/I/91sgcJ-0dkL._SL1500_.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_10">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://m.media-amazon.com/images/M/MV5BM2IwMjI2NjEtYzYwZi00Mzg1LWE4MWUtOWJhMzE3OGM1YWVmXkEyXkFqcGdeQXVyNjQ2MjQ5NzM@._V1_.jpg" ></a>
            </div>
            </li>

        </div><br>
        <h4>Top shouth indian Movie</h4>
        <div class="parent_2">

            <li>
            <div class="child_2" id="child_2_1">
                <a href=""><img onmouseover= bigImg(this) onmouseout= normalImg(this) src="https://i.pinimg.com/originals/8f/25/db/8f25db5d5f9a6d6fd3cdc7b993e8cb06.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_2">
                <a href= "/">
                <video id="vid" onmouseover= playVideo() onmouseout= pauseVideo()  poster="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaD_a0pIW6PR-KxKy16iV4P61mFOM5ChW5cqIGA4LA799IntpYpm0GKS0oINyyU23ulxI&usqp=CAU">
                  <source src="" type="video/mp4">
                </video>
                </a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_3">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://i.ytimg.com/vi/9PpUtwaTBmU/hqdefault.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_4">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://3.bp.blogspot.com/-tSTvb5CPFdI/WKgZQ1O7cXI/AAAAAAAAAM4/acG2dS8GoIQwzOGe3aP_Pck3LPkM20gTgCLcB/s1600/PicsArt_02-18-03.11.08.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_5">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://3.bp.blogspot.com/-o_tiPCo31e8/W7TYtZ1gtAI/AAAAAAAASZU/sDDkJJS_CTo7umpJ-ZJNInzYKQL1poO3wCLcBGAs/s1600/magnet-oct318.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_6">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://files.prokerala.com/movies/pics/800/celina-jaitly-and-upendra-hot-stills-16545.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_7">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://cdn.gulte.com/wp-content/uploads/2022/03/RRR-Review.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_8">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVzJDjb4mOfmBteEYIamNzGSKM1b1WJPKJEg&usqp=CAU" ></a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_9">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://s1.dmcdn.net/v/4ls_C1LSr1qMDRew4/x720" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_10">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://updatedcelebrities.com/wp-content/uploads/2020/04/IMG_20200423_151342-823x1024.jpg" ></a>
            </div>
            </li>

        </div><br>
        <h4>Top holiwood Movie</h4>
        <div class="parent_3">

            <li>
            <div class="child_2" id="child_2_1">
                <a href=""><img onmouseover= bigImg(this) onmouseout= normalImg(this) src="https://1.bp.blogspot.com/-2JTjxKGtEIE/XTgGNaodMVI/AAAAAAAAS3E/UAQ4nx9eiWcxUd5GbXTI-BNfrVT0XGRgACLcBGAs/s640/captain%2Bmarvel.JPG" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_2">
                <a href= "/">
                <video id="vid" onmouseover= playVideo() onmouseout= pauseVideo()  poster="https://qqcdnpictest.mxplay.com/pic/c7d1ca32774fb050286ef81dfab6653b/en/2x3/320x480/6da7688e8a6a1126af7c65e2ff4b4434_1280x1920.webp">
                  <source src="" type="video/mp4">
                </video>
                </a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_3">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://flxt.tmsimg.com/assets/p7825626_p_v8_af.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_4">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://image.tmdb.org/t/p/w500/sYjpJZEdwELjdHy4OVzazeJVT0z.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_5">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://img.etimg.com/thumb/msid-39408434,width-1200,height-900,imgsize-88901,overlay-etpanache/photo.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_6">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://i.ytimg.com/vi/0txTBKIVg4w/maxresdefault.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_7">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://m.media-amazon.com/images/I/81E5iCgVe6L._SL1443_.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_8">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/51B6BA69C8537E05CD3F4268F560F6342F4F2B3F686C24036693925A32FEF56A/scale?width=1200&aspectRatio=1.78&format=jpeg" ></a>
            </div>
            </li>
            
            <li>
            <div class="child_2" id="child_2_9">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://i.ytimg.com/vi/19THOH_dvxg/movieposter_en.jpg" ></a>
            </div>
            </li>

            <li>
            <div class="child_2" id="child_2_10">
                <a href=""><img onmouseover= bigImg(this) onmouseout="normalImg(this)" src="https://img1.hotstarext.com/image/upload/f_auto,t_vl/sources/r1/cms/prod/7698/727698-v" ></a>
            </div>
            </li>
        </div>
    </main>